.journal_form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.invalid {
    border: 1px solid red;
    background: #7a2121;
}

.input {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    background: rgba(255, 255, 255, 0.31);
}

.input_title{
    font-size:32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 1px solid #707070;
    width: 100%;
    background: rgba(255, 255, 255, 0.31);
}

.form_label {
    display: flex;
    align-items: center;
}

.flo_row {
    display: flex;
    align-items: center;
    gap: 50px;
}

.text_row {
    display: flex;
    align-items: center;
    gap: 37px;
}

.delete {
    border: none;
    background: none;
    cursor: pointer;

}

.delete:hover {
    background: rgb(68, 10, 10);
}
